body{
    font-family: Arial, Helvetica, sans-serif;
}

/* BUTTONS + HOVER BUTTON */

.btn{
    border-radius: 40px;
}

a.orange_button, a.blue_button{
    color: white;
    border-width: 2px;
}

a.orange_button:hover{
    box-shadow: inset 0 0 0 2px black;
    color: white;
}

.bg_orange{
    background-color: orangered;
}

.bg_blue{
    background-color: rgb(47, 75, 160);
}

a.blue_button:hover{
    box-shadow: inset 0 0 0 2px white;
    color: white;
}

a.gray_button{
    color: royalblue;
    border-width: 2px;
}

a.gray_button:hover{
    box-shadow: inset 0 0 0 2px royalblue;
}

/* FONT COLOR */
.white_text{
    color: white;
}

.blue_text{
    color: royalblue;
}

.gray_text{
    color: gray;
}

.black_text{
    color: black;
}

/* HOVER E CAROUSEL */


/* HEADER */
header{
   background-color: black; 
}

.bg_white{
    background-color: white;
}

/* LOGO SONY */
.logo_sony{
    height: 30px;
}

/* NAVBAR */
.navbar-light .navbar-nav .nav-link{
    color: black;
    padding: 10px;
}

/* JUMBOTRON */
.jumbo{
    height: 500px;
    background-image: url(/img/jumbo-bg.png);
    object-fit: cover;
    background-position: center center; 
}

.text_logo_returnal{
    width: 400px;
    padding-top: 70px;
}

/* GAME ALBUM-ZONE */
.game_album{
    border-radius: 8px;
}

/* SECTION-3 */
.box_1_ps5{
    margin-top: 100px;
}

/* SECTION-4 */
.section_4{
    height: 700px;
    background-image: url(/img/it-takes-two-hero-banner-desktop.jpg);
    object-fit: cover;
    background-position: center; 
}

.text_logo_it_takes_two{
    width: 400px;
    padding-top: 70px;
}

/* SECTION-5 */
.bg_dark_gray{
    background-color: rgb(37, 36, 36);
}

/* SECTION-7 */
.bg_gray{
    background-color: gray;
}

.text_logo_play_plus{
    width: 400px;
}

/* SECTION 9 */
.play_now{
    background-color: rgb(4, 4, 71);
}

/* FOOTER LIST */
footer ul li{
    list-style: none;
}

footer a{
    text-decoration: none;
    color: white;
}

.text_copy_right{
    width: 500px;
}